<?php
return [
    'dev' => true,
    'db' => [
        'host' => '127.0.0.1',
        'port' => 3306,
        'username' => 'root',
        'password' => '123456',
        'dbname' => 'ypf',
    ],
    'version' => '1.0.0',
    'apps' => [
        0 => [
            'name' => '开发',
            'auth' => NULL,
        ],
    ],
    'cors' => [
        'origin' => '*',
        'methods' => 'GET, POST, PUT, DELETE, OPTIONS',
        'headers' => 'Content-Type, Authorization, X-Requested-With, HTTP_APPID',
    ],
];
