<?php
const VERSION = '1.0.0';
const APP_DEV = true;
const URL_NO = false;
const DB = [
    'host' => '127.0.0.1',
    'port' => 3306,
    'username' => 'root',
    'password' => '123456',
    'dbname' => 'ypf',
];
const APPS = [
    0 => [
        'name' => '开发',
        'auth' => NULL,
    ],
    1 => [
        'name' => '后台',
        'auth' => 'App\\Middleware\\ManagerMiddleware',
    ],
];
const PAGE_HOST = '';
const RESP_CODE = 'code';
const RESP_DATA = 'data';
const RESP_MSG = 'message';

const QUERY_ITEMS = 'items';
const QUERY_PAGES = 'pages';
const QUERY_PAGE = 'page';
const QUERY_PERPAGE = 'perPage';
const QUERY_PAGESIZE = 20;
const QUERY_FROM = 'From';
const QUERY_TO = 'To';

const CORS_ORIGIN = '*';
const CORS_METHODS = 'GET, POST, PUT, DELETE, OPTIONS';
const CORS_HEADERS = 'Content-Type, Authorization, X-Requested-With, HTTP_APPID';
const HEADER_ATTRS = [
    'HTTP_AUTHORIZATION' => 'auth',
];

const ACTION_MODE = false;
const ROUTES = [

];
